@media screen  and (max-width:1000px){
  #top-prod{
    flex-wrap: wrap;
  }
  #signup-img{
    display: none;
  }
}
@media screen and (min-width: 1000px) {

  #prodi {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 10px;
      margin-top: 20px;
    margin-left: 10px; */
  }
   #top-prod{
   flex-wrap: wrap;  
}
}
@media screen and (min-width: 1100px) {
  #prodi {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    /* gap: 10px;
      margin-top: 20px;
    margin-left: 10px; */
  }
    #top-prod {
   flex-wrap: wrap;  
}
  .women-header{
    background-size: contain;
  }
  .prod_item_wom {
    height: min-content;
    width: min-content;
  }
}
@media screen and (min-width: 1250px) {
  #prodi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    margin-left: 10px;
  }
     #top-prod {
   flex-wrap: nowrap;  
}
}