*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.page{
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif!important;
  font-size: 14px;
    font-weight: 400;
    line-height: 2.14286;
    color: black;
    /* border-top: 0!important; */
    /* border:10px solid white!important; */
    /* border-top: 8px solid white!important; */
    /* border-left: 12px solid white!important; */
        /* border-right: 12px solid white!important; */
    z-index: 0;
    /* margin: 10px; */
}
header{
  position: fixed;
  z-index: 1500;
  /* top:-2px!important; */
    width: 100%;
    padding: 10px 25px 10px 5px;
    transition:  all 1s;
    
  
}
header:hover {
   background-color: white;
}
 .isSolid{
  background-color: white;
}